<div class="myFilmLibraryPage__container">
  <div class="myFilmLibraryPage__modes">
      <button class="buttonWAtched button__white">
        Watched
      </button>
    
      <button class="myFilmLibraryPage__buttonQueue button__white">
        Queue
      </button>
  
  </div>
  <ul class="myFilmLibraryPage__film-card">
  </ul>
</div>
