<div class="myFilmLibraryPage__container">
  <div class="myFilmLibraryPage__modes">
      <button class="buttonWatched button__white button__active">
        Watched
      </button>
    
      <button class="buttonQueue button__white">
        Queue
      </button>
  
  </div>

  {{> filmList this}}
  
</div>
